<table>


    {% for modules in module %}

    <tr>
        <td>
            <a href="index.php?action=deleteModule&id=<{{ module.id }}">
                (delete)
            </a>
        </td>

        <td>
            <a href="index.php?action=updateModule&id={{ module.id }}">
                (update)
            </a>
        </td>

        <td>id = {{ module.id }}</td>
        <td>title = {{ module.title }}</td>
        <td>code = {{ module.code }}</td>
        <td>credits = {{ module.credits }}</td>
    </tr>

{% endfor %}

</table>

<hr>
<form
        action="index.php"
        method="get">

    <input type="hidden" name="action" value="showNewModuleForm">

    <input type="submit" value="ADD A NEW MODULE">

</form>


<hr>
<form
        action="index.php"
        method="get">

    <input type="text" name="searchText">

    <input type="hidden" name="action" value="customSearch">

    <input type="submit" value="search">

</form>
